In [1]:
import pandas as pd
import numpy as np
from termcolor import colored

In [2]:
#Read csv file
df = pd.read_csv("covid_cases.csv")
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,4/1/2020 21:58,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,4/1/2020 21:58,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,4/1/2020 21:58,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,4/1/2020 21:58,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,4/1/2020 21:58,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [3]:
# Number of countries in the dataser
len(df.Country_Region.value_counts())

180

In [4]:
df.Country_Region.value_counts()

US                  2230
China                 33
Canada                15
France                10
United Kingdom        10
                    ...
Guyana                 1
Azerbaijan             1
Congo (Kinshasa)       1
Qatar                  1
Zambia                 1
Name: Country_Region, Length: 180, dtype: int64

In [5]:
# df_summary is created to store the cumilated deaths recorded by country
df_summary = df.groupby('Country_Region')["Recovered"].sum().to_frame().reset_index()
df_summary.columns = ["country","recovered"]
df_summary.head()

       country  recovered
0  Afghanistan          5
1      Albania         67
2      Algeria         61
3      Andorra         10
4       Angola          1

In [6]:
df_summary = df_summary.sort_values(by='recovered', ascending=False, na_position='last').reset_index().drop(columns=['index'])
df_summary.head(10)

        country  recovered
0         China      76405
1         Spain      22647
2       Germany      18700
3         Italy      16847
4          Iran      15473
5        France      11053
6            US       8474
7  Korea, South       5567
8   Switzerland       2967
9       Belgium       2132

In [7]:
# Printing top 15 countries based on recovery stats
print("Total recovered (" + colored(df_summary.recovered.sum(),'green') + " )\n")
for i in range(15):
    print(colored(df_summary["recovered"][i], 'green') + 
          colored(" recovered in ",'green') + 
          colored(df_summary["country"][i],'blue'))

Total recovered (193177 )

76405 recovered in China
22647 recovered in Spain
18700 recovered in Germany
16847 recovered in Italy
15473 recovered in Iran
11053 recovered in France
8474 recovered in US
5567 recovered in Korea, South
2967 recovered in Switzerland
2132 recovered in Belgium
1436 recovered in Austria
1324 recovered in Canada
971 recovered in Denmark
645 recovered in Malaysia
603 recovered in Diamond Princess